@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Saira+Stencil+One&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 80px;
    backdrop-filter: blur(20px);
    /* background-color: rgba(253, 253, 253, 0.8); */
}
.nav h1{
    font-family: 'Saira Stencil One', cursive;
    /* font-family: 'Black Ops One', cursive; */
    font-weight: 300;
    font-size: 40px;
}
.nav h1 span{
    color: #E76930;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-right: 90px;
}
.nav-items li{
    padding-top: 20px;
    list-style-type: none;
    position: relative;
}
.nav-items li a{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
}
.nav{
    position: sticky;
    top: 0;
}
@keyframes cut {
    0%{width: 10px;}
    25%{width: 20px;}
    50%{width: 40px;}
    75%{width: 40px;}

}
.home:hover div{
    position:absolute;
    border-bottom: 3px solid #E76930;
    top: 28px;
    left: -5px;
    width: 54px;
    animation: cut 0.5s 1;
}
.project:hover div{
    position:absolute;
    border-bottom: 3px solid #E76930;
    top: 28px;
    left: -5px;
    width: 65px;
    animation: cut 0.5s 1;
}
.about:hover div{
    position:absolute;
    border-bottom: 3px solid #E76930;
    top: 28px;
    left: -5px;
    width: 54px;
    animation: cut 0.5s 1;
}
.contact:hover div{
    position:absolute;
    border-bottom: 3px solid #E76930;
    top: 28px;
    left: -5px;
    width: 70px;
    animation: cut 0.5s 1;
}
.hero-img{
    position: absolute;
    top: 0px;
    left:20%;
    z-index: -1;
    width: 70%;
    /* transform: rotate(110deg); */
}
.hero-text{
    padding-top: 270px;
    padding-bottom: 70px;
    padding-left: 80px;
    text-align: center;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-shadow: #00000059 10px 10px 1px;
}
.project-head{
    text-align: center;
    margin: 40px 70px;
    font-family: 'Popins', sans-serif;
}
.project-head h1{
    /* text-shadow: #00000059 -0px -10px 1px; */
    position: relative;
    font-size: 60pt;
    font-family: 'Popins', sans-serif;
    font-weight: 800;
}
.project-head h1 span{
    position: absolute;
    font-size: 100px;
    filter: blur(0px);
    color: #E6E6EA;
    z-index: -1;
    bottom: 30px;
    /* right: 465px; */
    width: 100%;
    text-align: center;
    right: 0px;

}
.card-img img{
    width: 600px;
}
.project-head h2{
    font-weight: 900;
    margin-top: 20px;
    color: #E76930;
    margin-bottom: 40px;
}
.all-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    /* grid-template-rows: 1fr 1fr 1fr; */
    justify-content: center;
    row-gap: 60px;
    column-gap: 60px;
}
.card1{
    box-shadow: 0px 10px 15px #00000059;
    border-radius: 20px;
    padding: 20px 0px;
}
.btn-group{
    font-family: 'Popins',sans-serif;
    padding: 12px 30px;
    /* margin-right: 100px; */
    margin-top: 20px;
    background-color: #E76930;
    color: #ffffff;
    border: 2px solid #E76930;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    /* width: 25%; */
    /* box-shadow: 0px 10px 15px #00000059; */
    text-decoration: none;
}
.btn{
    margin-right: 150px;
    background:none;
    color: #000000;
    border: 2px solid #000000;
    /* width: 25%; */
}


@keyframes btn-anime {
    0%{background: linear-gradient(90deg, #E76930 20%, #ffffff 60%);}
    25%{background: linear-gradient(90deg, #E76930 40%, #ffffff 70%);}
    50%{background: linear-gradient(90deg, #E76930 60%, #ffffff 80%);}
    75%{background: linear-gradient(90deg, #E76930 80%, #ffffff 90%);}
    100%{background: linear-gradient(90deg, #E76930 100%, #ffffff 100%); 
        color: #ffffff;}
}
.btn:hover{
    animation: btn-anime 200ms 1;
    animation-timing-function: linear;
    background-color: #E76930;
    color: #ffffff;
    border: 2px solid #E76930;
    transition: color 200ms ease-in;
    font-size: 14px;
}
.btn-group:hover{
    /* font-size: 15px; */
    cursor: pointer;
}
.card1 h3{
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero{
    text-align: center;
}
.top-btn{
    margin-top: 50px;
    padding: 10px 30px;
    background:transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    font-family: 'Poppins',sans-serif;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.top-btn:hover{
    box-shadow: #00000059 0px 5px 15px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    transition: background-color 300ms ease-in;
}
.see{
    margin-top: 30px;
    font-size: small;
    font-weight: 900;
    margin-bottom: 100px;
}
.see li{
    text-decoration: none;
    list-style-type: none;
}
.see a{
    text-decoration: none;
}


/* about */

.about-section{
    display: flex;
    flex-direction: row;
    margin: 0px 80px;
    margin-bottom: 100px;
    /* margin-left: 0px; */
    /* padding-left: 0px; */
}
.about-section img{
    /* margin-right: 150px; */
    padding-left: 90px;
    width: 100%;
}
.about-head{
    margin-bottom: 0px;
    margin-top: 320px;
}
.about-head h1 span{
    /* right: 540px; */
    left: -0px;
    width: 100%;
    right: 0px;
    text-align: center;
}
.abhi{
    padding-top: 100px;
    padding-left: 240px;
}
.abhi h1{
    font-family: 'Saira Stencil One', cursive;
    font-size: 60px;
    text-shadow: 2px 2px 4px #00000059;
}
.abhi p{
    font-family: 'Poppins',sans-serif;
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
}
.abhi h4{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5px;
}
.abhi h4 span{
    color: #E76930;
}
.exp-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.exp-count h6{
    margin-top: 30px;
    font-family:'Poppins',sans-serif;
    margin-right: 60px;
    margin-left: 10px;
}
.btn-about{
    margin: 40px 0px;
}
.project-short-head h1{
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 46px;
    position: relative;
}
.project-short-head span{
    position: absolute;
    font-size: 40px;
    color: #e6e6ea;
    /* bottom: 20px; */
    left: 0px;
    text-align: end;
    z-index: -1;
    font-weight: 900;
}
.project-short-head{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}
.program-skill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.language{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    justify-content: space-around;
    row-gap: 30px;
    column-gap: 30px;
}
.language img{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 4px 2px #00000059;
    width: 35px;
}
.skill-text{
    font-family: 'Roboto', sans-serif;
}
.skill-text h1{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
}
.skills{
    padding-bottom: 150px;
}


footer{
    background-color: #000000;
    text-align: center;
    padding:20px 40px;
}

footer img{
    width: 50px;
    margin-left: 70px;
}
.blob{
    z-index: -2;
}
.btn-blog a{
    /* text-align: center; */
    margin-left: 150px;
}
.blog-img img{
    height: 200px;
}
.all-blog{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: fit-content;
}
.see-blog li{
    list-style-type: none;
}
.see-blog{
    text-align: center;
    margin-bottom: 20px;
}
.see-blog a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.project-short-head h1 span{
    font-size: 65px;
}
.card1 div .blog-btn{
    text-align: center;
    display: block;
    margin-left: 130px;
}
.card1 div .blog-btn a{
    text-align: center;
    margin-left: 0px;
}


@media screen and (max-width:1400px) {
    .hero-text{
        padding-top: 15%;
        font-size: 15px;

    }
    .all-cards{
        margin: 0px 20px;
    }
}
@media screen and (max-width:1245px) {
    .all-cards{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .card-img img{
        width: 100%;
    }
    .card1 div div{
        display: flex;
        justify-content: space-around;
    }
    .btn{
        margin-right: 0px;
    }
    .card1 div .blog-btn{
        text-align: center;
        display: block;
        margin-left: 0px;
    }
    .about-section img{
        padding-top: 50px;
        width: 100%;
    }
}

@media screen and (max-width:964px) {
    .blob{
        width: 80%;
        left: 15%;
    }
    .about-section img{
        margin: 0px;
        padding: 0px;
        padding-top: 30px;
    }
    .abhi h1{
        font-size: 40px;
    }
    .abhi{
        padding-left: 0px;
    }
    .abhi p{
        font-size: 12px;
    }
}

@media screen and (max-width:742px) {
    .blob{
        margin-top: 0px;
        width: 100%;
        left: 10%;
    }
    .hero-text{
        padding-top: 20%;
        font-size: 12px;
    }
    .nav-items{
        margin-right: 0px;
    }
    .nav{
        justify-content: space-between;
        padding: 10px 10px;
    }
    .top-btn{
        padding: 10px 20px;
        font-size: 13px;
    }
    .abhi{
        width: 100%;
    }
    .about-section{
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .program-skill{
        margin-left: 10px;
    }
    .program-skill .language img{
        padding: 3px 4px;
    }
    .exp-count h6{
        margin-left: 10px;
        margin-right: 10px;
    }
    .project-head h1 span{
        font-size: 72px;
        transform: translate(0px,10px);
    }
    .project-head h1{
        font-size: 68px;
    }
    .project-head h2{
        font-size: 20px;
    }
    .project-short-head h1{
        font-size: 58px;
    }
    .project-short-head h1 span{
        font-size: 62px;
        transform: translate(0px,10px);
    }
    #project1 .project-head h1{
        font-size: 58px;
    }
    #project1 .project-head h1 span{
        font-size: 62px;
        transform: translate(0px,10px);
    }
}

@media screen and (max-width:532px) {
    .hero-text{
        /* padding-bottom: 20px; */
        padding-left: 0px;
        font-size: 10px;
        padding-top: 24%;
    }
    .hero-text h1{
        text-align: center;
        padding: 0px 25px;
    }
    .blob{
        width: 100%;
        top: 20px;
        left: 0%;
    }
    .nav-items li a{
        font-size: 12px;
    }
    .logo h1{
        font-size: 20px;
        padding-top: 14px;
    }
    .logo{
        margin-bottom: 0px;
    }
    .exp-count h1{
        margin-right: 0px;
        margin: 0px;
    }
    .exp-count h6{
        margin-left: 10px;
        margin-right: 10px;
    }
    .abhi{
        margin-top: 0px;
        padding-top: 0px;
    }
    .skills .language{
        row-gap: 10px;
        column-gap: 10px;
    }
    .nav-items{
        width: 70%;
    }
    .about-head{
        margin-top: 100px;
    }
}

@media screen and (max-width:470px) {
    .program-skill .language{
        grid-template-columns: 1fr 1fr 1fr;
    }
    body{
        overflow-x: hidden;
    }
    .hero-text{
        padding-bottom: 20px;
    }
    .about-section{
        display: flex;
        flex-direction: row;
    }
    .about-me img{
        width: 200px;
    }
    .abhi h1{
        font-size: 32px;
    }
    .abhi h4{
        font-size: 10px;
        font-weight: 600;
    }
    .abhi p{
        font-size: 12px;
    }
    .exp-count h6{
        margin-left: 3px;
        margin-right:10px;
        margin-top: 10px;
    }
    .btn-about{
        margin: 30px 0px;
    }
    #contact1 a img{
        padding: 0px;
        margin: 0px 10px;
    }
}

@media screen and (max-width:388px) {
    .about-section img{
        width: 180px;
    }
    .project-head h1 span{
        font-size: 62px;
        transform: translate(0px,10px);
    }
    .project-head h1{
        font-size: 58px;
    }
    .project-head h2{
        font-size: 17px;
    }
    .about-head{
        margin-top: 100px;
    }
    .project-short-head h1{
        font-size: 48px;
    }
    .project-short-head h1 span{
        font-size: 52px;
        transform: translate(0px,10px);
    }
    #project1 .project-head h1{
        font-size: 48px;
    }
    #project1 .project-head h1 span{
        font-size: 52px;
        width: 110%;
        transform: translate(10px,10px);
    }
}

@media screen and (max-width:347px) {
    .hero-text{
        padding-top: 50px;
        font-size: 9px;
    }
    .top-btn{
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 600;
    }
    .about-me{
        width: 30%;
    }
    .about-me img{
        opacity: 0.3;
    }
}